<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>お問い合わせありがとうございました</title>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment">
                        <h2 class="ui aligned header teal">お問い合わせ</h2>
                        <div class="ui comments">
                            お問い合わせありがとうございました。<br>
                            後日スタッフより連絡させていただきます。
                        </div>
                        <a class="ui teal button" href="/">トップページに戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
